.button {
  display: flex;
  align-items: center;
  padding: 18px 40px;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  background: #62a1eb;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  justify-content: center;
  font-family: "HelveticaNeue";
  font-style: normal;
  font-size: 16px;
}
