a {
  text-decoration: none;
  color: #232323;
  font-weight: 700;
}

.container-form {
  width: 100%;
  height: 100%;
  font-family: "HelveticaNeue";
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  color: #232323;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #f7f7f7;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
}

.button-container {
  margin: 0;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 15px;
}

.button {
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: 25px;
  margin-right: 25px;
}

.active {
  text-decoration: none;
  position: relative;
}

.active:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -8px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 70%;
  background: #000000;

  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 696px) {
  .btnImgWrapper {
    left: 5px;
    top: 32px;
    background: transparent;
  }
  .button-container {
    margin-top: 40px;
    padding-top: 0;
  }
}

@media (max-width: 576px) {
  .noDisplay {
    display: none;
  }
  .active:after {
    background-color: transparent;
  }
  .small-logo {
    display: none;
  }
}
