a {
  text-decoration: none;
  color: #232323;
  font-weight: 700;
}

.container {
  /* background-color: #b33333; */
  width: 100%;
  height: 100%;
  font-family: "HelveticaNeue";
  font-style: normal;

  font-size: 17px;
  line-height: 24px;
  color: #232323;
}
.router {
  margin-top: 100px;
}
:host {
  display: block;
  background-color: #f7f7f7;
}
.btnImgWrapper {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 70px;
  cursor: pointer;
  top: 40px;
  background: #d9d9d9;
}
/* .smallLogo {
  position: absolute;
  left: 930px;
  bottom: 20px;
  height: 55px;
} */
.btnImg {
  width: 7.21px;
  height: 11px;
}

.btnContainer {
  position: relative;
  top: 80px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 15px;
}

.button {
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: 25px;
  margin-right: 25px;
}

.active {
  text-decoration: none;
  position: relative;
}

.active:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -8px;

  margin: 0 auto;
  left: 0;
  right: 0;
  width: 70%;
  background: #000000;

  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
