<div class="container">
  <div class="btnImgWrapper" routerLink="/" (click)="mainPage()">
    <img src="assets/backforward.png" alt="goback" class="btnImg" />
  </div>

  <div class="btnContainer">
    <div>
      <a
        routerLink="./"
        class="button"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="previous()"
        >თანამშრომლის ინფო</a
      >
      <a (click)="nextpage()" [ngClass]="{ active: activated }" class="button"
        >ლეპტოპის მახასიათებლები</a
      >
    </div>
  </div>

  <div class="router">
    <router-outlet> </router-outlet>
  </div>
  <div>
    <img class="smallLogo" src="assets/LogoSmall.png" alt="smallLogo" />
  </div>
</div>
