form {
  background: rgb(255, 255, 255);
  width: 1000px;
  margin: 50px auto;
  max-width: 97%;
  border-radius: 8px;
  height: 1400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  padding: 40px;
  font-style: normal;
  font-family: "HelveticaNeue";
  font-style: normal;
}
input {
  height: 45px;
  border: 2px solid #8ac0e2;
}
input:active,
input:focus {
  border-color: #8ac0e2;
}
.upload_button label {
  font-weight: 300;
}
.upload_button {
  margin-top: 30px;
  margin-bottom: 40px;
}

select {
  height: 45px;
  background-color: #ebebeb;
  border-radius: 8px;
  outline: none;
  border: none;
  font-weight: 700;
  font-family: "HelveticaNeue";
  font-style: normal;
  font-size: 15px;
  border-color: transparent;
}
select:active,
select:focus,
select:hover {
  border-color: transparent;
  outline: none;
}
.laptop_name select {
  width: 330px;
}
.laptop_name input {
  width: 330px;
}

option {
  background: rgb(255, 255, 255);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
label {
  font-weight: 700;
  font-family: "HelveticaNeue";
  font-style: normal;
  font-size: 16px;
  line-height: 40px;
}

.imgUploadContainer {
  font-family: "HelveticaNeue";
  font-size: 14px;

  height: 400px;
  width: 700px;
  background: #f7f7f7;
  border: 2px dashed #4386a9;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.noBorder {
  border: white;
}
.imgUploadContainer img {
  height: 400px;
  width: 700px;
  object-fit: fill;
  border-radius: 18px;
}
button {
  font-family: "HelveticaNeue";
  font-size: 14px;
}
.imgWrapper {
  width: 150px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  /* or 190% */

  display: flex;
  align-items: center;
  text-align: center;

  /* ლურჯი/700 */

  color: #4386a9;

  margin-top: 5px;
}

input[type="file"] {
  display: none;
}
input[type="radio"] {
  -webkit-appearance: none;
  outline: none;
  width: 20px;
  height: 20px;
  border: 2px solid #4386a9;
  border-radius: 50%;
}
input[type="radio"]:before {
  content: "";
  display: block;
  width: 75%;
  height: 75%;
  margin: 15% auto;
  border-radius: 50%;
}
input[type="radio"]:checked:before {
  background: #4386a9;
}
input[type="radio"]:checked {
  border-color: #4386a9;
}
.memory_type {
  margin-right: 80px;
  margin-left: 20px;
  font-weight: normal;
}
.submitBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 18px 60px;
  gap: 20px;
  outline: none;
  box-shadow: none;
  width: 150px;
  height: 50px;
  cursor: pointer;
  background: #62a1eb;
  border-radius: 8px;

  color: #ffffff;
  border: none;

  justify-content: center;
  font-family: "HelveticaNeue";
  font-style: normal;

  font-size: 16px;
}

.laptop_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  margin-top: -10px;
}
.laptop_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.laptop_CPU_Info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  margin-top: -40px;
}
.laptop_CPU select,
input {
  width: 220px;
}
.hint {
  color: #2e2e2eab;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  font-family: "HelveticaNeue";
  font-style: normal;
  margin-top: 8px;
}
hr {
  border: 1px solid #c7c7c7;
  clear: both;
  display: block;
  width: 75%;
  height: 1px;
  margin-top: -20px;
}
.radio_buttons {
  /* box-sizing: border-box; */
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; */
  width: 330px;
}
/* .radio_buttons input {
  height: 15px;
  width: 15px;
  margin-right: 25px;
} */

.radio_buttons label {
  margin-right: 60px;
  font-weight: 300;
}

.laptop_memory {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-items: flex-start;
  margin-top: -45px;
}
.laptop_price {
  margin-top: 43px;
}

.purchase_info {
  margin-top: -80px;
}
.submit_button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 18px 60px;
  gap: 20px;
  outline: none;
  box-shadow: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
  background: #62a1eb;
  border-radius: 8px;

  color: #ffffff;
  border: none;

  justify-content: center;
  font-family: "HelveticaNeue";
  font-style: normal;

  font-size: 16px;
}
.buttons_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: flex-start;
  align-items: center;
  width: 700px;
}
.go_back_button {
  background: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  color: rgba(98, 161, 235, 1);
  font-size: 16px;
}
.img_name_size {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo_imgName_imgSize {
  margin-right: 10px;
}
.image_name {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  margin-top: 15px;
}
.image_size {
  color: #5f5f5f;
}
.vector-img {
  width: 18px;
  height: 18px;
  margin-right: 15px;
}
.upload_bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
  gap: 20px;
  outline: none;
  box-shadow: none;
  width: 190px;
  height: 50px;
  cursor: pointer;
  background: #62a1eb;
  border-radius: 8px;

  color: #ffffff;
  border: none;

  /* justify-content: center; */
  font-family: "HelveticaNeue";
  font-style: normal;

  font-size: 16px;
}
.upload label {
  font-weight: 300;
  font-family: "HelveticaNeue";
  font-style: normal;
  font-size: 16px;
  line-height: 10px;
}

.invalid label {
  color: #e52f2f;
}
.invalidLabel {
  color: #e52f2f;
}
.invalid input {
  border: 1.8px solid #e52f2f;
}

.invalid select {
  border: 1.8px solid #e52f2f;
}
.invalid p {
  color: #e52f2f;
}

.invalid input:active,
.invalid input:focus {
  border-color: #e52f2f;
}

.invalidCon {
  background: #fff1f1;
  border: 2px dashed rgba(229, 47, 47, 1);
}
.warning-image img {
  height: auto;
  max-width: 10%;
  transform: scale(0.5);
}
.warning-image {
  display: flex;
  justify-content: center;
}

.invalidParagraph {
  font-weight: 600;
  color: #e52f2f;
}
label img {
  height: auto;
  transform: scale(0.6);
  margin-bottom: 10px;
}
