<div class="container bold">
  <form [formGroup]="laptopInfoForm" (ngSubmit)="onSubmit($event)">
    <div class="row img-upload-container">
      <div
        class="img-upload-box col-md-12 col-lg-12"
        appDragAndDrop
        (files)="filesDropped($event)"
        [ngClass]="{ background: !showbutton }"
        [ngClass]="{ invalidCon: !laptopImageValid }"
      >
        <img
          class="img-uploaded"
          *ngIf="files[0]"
          [src]="files[0].url"
          alt=""
        />
        <div class="warning-image" *ngIf="!laptopImageValid">
          <img src="../../../assets/uploadWarning.png" alt="" />
        </div>
        <div
          *ngIf="showbutton"
          class="upload-text mt-1"
          [ngClass]="{ invalidParagraph: !laptopImageValid }"
        >
          <p>ჩააგდე ან ატვირთე ლეპტოპის ფოტო</p>
        </div>
        <div *ngIf="showbutton" class="upload_button mb-3 mt-4">
          <input
            type="file"
            name="file"
            id="file"
            (change)="onChange($event)"
            accept=".png,.jpeg,.jpg"
            formControlName="laptopImage"
          />
          <label class="button" for="file">ატვირთე</label>
        </div>
      </div>

      <div *ngIf="!showbutton" class="row mt-4">
        <div class="img_type col-lg-6 col-md-6 no-padding-left">
          <img src="../../../assets/Vector.png" class="mr-1 vector-img" />

          <div class="mr-2 image_name">{{ imageName }},</div>
          <div class="image_name text-color">{{ imageSize }}</div>
        </div>
        <div class="col-lg-6 col-md-6 upload no-padding-right">
          <input
            type="file"
            name="file"
            id="file"
            (change)="onChange($event)"
            accept=".png,.jpeg,.jpg"
          />
          <label class="button" for="file">თავიდან ატვირთე</label>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="no-padding-left col-sm-12 col-md-6 col-lg-6">
        <app-input
          placeholder="HP"
          [control]="laptopInfoForm.controls.laptopName"
          [isSubmitAttempted]="isSubmitAttempted"
          [isMedium]="true"
        >
          <span title>ლეპტოპის სახელი</span>
          <span hint> ლათინური ასოები, ციფრები, !@#$%^&*()_+=</span></app-input
        >
      </div>
      <div
        class="no-padding-right col-sm-12 col-md-6 col-lg-6 display"
        [ngClass]="{
          invalid:
            (laptopInfoForm.controls.laptopBrandId.invalid &&
              laptopInfoForm.controls.laptopBrandId.touched) ||
            (laptopInfoForm.controls.laptopBrandId.errors != null &&
              isSubmitAttempted)
        }"
      >
        <select
          class="form-select form-select-sm shadow-none"
          aria-label=".form-select-sm example"
          formControlName="laptopBrandId"
        >
          <option value="null" disabled>ლეპტოპის ბრენდი</option>
          <option value="1" *ngFor="let brand of brands">
            {{ brand.name }}
          </option>
        </select>
      </div>
    </div>
    <hr />
    <div class="row">
      <div
        class="col-sm-12 col-md-4 col-lg-4"
        [ngClass]="{
          invalid:
            (laptopInfoForm.controls.laptopCPU.invalid &&
              laptopInfoForm.controls.laptopCPU.touched) ||
            (laptopInfoForm.controls.laptopCPU.errors != null &&
              isSubmitAttempted)
        }"
      >
        <select
          class="form-select form-select-sm shadow-none"
          aria-label=".form-select-sm example"
          formControlName="laptopCPU"
        >
          <option disabled value="null">CPU</option>
          <option value="1" *ngFor="let cpu of cpus">
            {{ cpu.name }}
          </option>
        </select>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <app-input
          placeholder="14"
          type="number"
          [control]="laptopInfoForm.controls.laptopCPUCores"
          [isSubmitAttempted]="isSubmitAttempted"
        >
          <span title>CPU-ს ბირთვი</span>
          <span hint> მხოლოდ ციფრები</span></app-input
        >
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <app-input
          placeholder="365"
          type="number"
          [control]="laptopInfoForm.controls.LaptopCpuThreads"
          [isSubmitAttempted]="isSubmitAttempted"
        >
          <span title>CPU-ს ნაკადი</span>
          <span hint> მხოლოდ ციფრები</span></app-input
        >
      </div>
    </div>
    <div class="laptop_info">
      <div class="laptop_name">
        <app-input
          placeholder="16"
          type="number"
          [control]="laptopInfoForm.controls.LaptopRam"
          [isSubmitAttempted]="isSubmitAttempted"
        >
          <span title>ლეპტოპის RAM (GB)</span>
          <span hint> მხოლოდ ციფრები</span></app-input
        >
      </div>
      <div class="laptop_memory">
        <label
          [ngClass]="{
            invalidLabel:
              laptopInfoForm.controls.LaptopHardDriveType.errors != null &&
              isSubmitAttempted
          }"
        >
          მეხსიერების ტიპი
          <img
            *ngIf="
              laptopInfoForm.controls.LaptopHardDriveType.errors != null &&
              isSubmitAttempted
            "
            src="../../../assets/uploadWarning.png"
            alt=""
        /></label>
        <div class="radio_buttons">
          <input
            type="radio"
            id="ssd"
            value="SSD"
            name="LaptopHardDriveType"
            formControlName="LaptopHardDriveType"
          />
          <label for="ssd" class="memory_type">SSD</label>
          <input
            type="radio"
            id="hdd"
            value="HDD"
            name="LaptopHardDriveType"
            formControlName="LaptopHardDriveType"
          />
          <label for="hdd" class="memory_type">HDD</label>
        </div>
      </div>
    </div>
    <hr />
    <div class="laptop_info purchase_info mt-5">
      <div class="laptop_name">
        <app-input
          placeholder="დდ / თთ / წწწწ"
          type="text"
          [control]="laptopInfoForm.controls.LaptopPurchaseDate"
          mask="00/00/0000"
        >
          <span title>შეძენის რიცხვი (არჩევითი)</span>
        </app-input>
      </div>
      <div class="laptop_name laptop_price">
        <app-input
          placeholder="0000"
          type="number"
          [control]="laptopInfoForm.controls.LaptopPrice"
          [isSubmitAttempted]="isSubmitAttempted"
        >
          <span title>ლეპტოპის ფასი</span>
          <span hint> მხოლოდ ციფრები</span></app-input
        >
      </div>
    </div>
    <div class="laptop_info">
      <div class="laptop_memory">
        <label
          [ngClass]="{
            invalidLabel:
              laptopInfoForm.controls.LaptopState.errors != null &&
              isSubmitAttempted
          }"
        >
          ლეპტოპის მდგომარეობა
          <img
            *ngIf="
              laptopInfoForm.controls.LaptopState.errors != null &&
              isSubmitAttempted
            "
            src="../../../assets/uploadWarning.png"
        /></label>
        <div class="radio_buttons">
          <input
            type="radio"
            id="new"
            value="ახალი"
            name="LaptopState"
            formControlName="LaptopState"
          />
          <label for="new" class="memory_type">ახალი</label>
          <input
            type="radio"
            id="old"
            value="მეორადი"
            name="LaptopState"
            formControlName="LaptopState"
          />
          <label for="old" class="memory_type">მეორადი</label>
        </div>
      </div>
    </div>
    <div class="buttons_row">
      <button class="go_back_button" (click)="previousPage()">უკან</button>
      <button class="button submit_button" type="submit">დამახსოვრება</button>
    </div>
  </form>
</div>
<app-modal *ngIf="showModal"> </app-modal>
