<div>
  <form [formGroup]="laptopInfoForm" (ngSubmit)="onSubmit()">
    <div
      class="imgUploadContainer"
      appDragAndDrop
      (files)="filesDropped($event)"
      [ngClass]="{ noBorder: !showbutton }"
      [ngClass]="{ invalidCon: !laptopImageValid }"
    >
      <!-- <div *ngFor="let file of files">
        <img *ngIf="file" [src]="file.url" alt="" />
      </div> -->
      <img *ngIf="files[0]" [src]="files[0].url" alt="" />
      <div class="warning-image" *ngIf="!laptopImageValid">
        <img src="../../../assets/uploadWarning.png" alt="" />
      </div>
      <div
        *ngIf="showbutton"
        class="imgWrapper"
        [ngClass]="{ invalidParagraph: !laptopImageValid }"
      >
        <p>ჩააგდე ან ატვირთე ლეპტოპის ფოტო</p>
      </div>
      <div *ngIf="showbutton" class="upload_button">
        <input
          type="file"
          name="file"
          id="file"
          (change)="onChange($event.target.files)"
          formControlName="laptopImage"
        />
        <label class="submitBtn" for="file">ატვირთე</label>
      </div>
    </div>

    <div *ngIf="!showbutton" class="laptop_info">
      <div class="img_name_size">
        <img
          src="../../../assets/Vector.png"
          class="logo_imgName_imgSize vector-img"
        />

        <p class="logo_imgName_imgSize image_name">{{ imageName }},</p>
        <p class="image_name image_size">{{ imageSize }}</p>
      </div>
      <div class="upload">
        <input
          class="try"
          type="file"
          name="file"
          id="file"
          (change)="onChange($event.target.files)"
        />
        <label class="upload_bottom" for="file">თავიდან ატვირთე</label>
      </div>
    </div>
    <div class="laptop_info">
      <div
        class="laptop_name"
        [ngClass]="{
          invalid:
            (laptopName.invalid && laptopName.touched) || laptopName.errors?.['pattern'] || !laptopNameValid
        }"
      >
        <label>ლეპტოპის სახელი</label>
        <input
          type="text"
          class="form-control shadow-none"
          placeholder="HP"
          aria-label="Laptop name"
          formControlName="laptopName"
          (keyup)="turnValidLaptopName()"
        />
        <p class="hint">ლათინური ასოები, ციფრები, !@#$%^&*()_+=</p>
      </div>
      <div
        class="laptop_name"
        [ngClass]="{
          invalid:
            (laptopBrandId.invalid && laptopBrandId.touched) ||
            !laptopBrandIdValid
        }"
      >
        <select
          class="form-select form-select-sm shadow-none"
          aria-label=".form-select-sm example"
          formControlName="laptopBrandId"
          (click)="turnValidlaptopBrandId()"
        >
          <option value="null" disabled>ლეპტოპის ბრენდი</option>
          <option value="1" *ngFor="let brand of brands">
            {{ brand.name }}
          </option>
        </select>
      </div>
    </div>
    <hr />
    <div class="laptop_CPU_Info">
      <div
        class="laptop_CPU"
        [ngClass]="{
          invalid: (laptopCPU.invalid && laptopCPU.touched) || !laptopCpuValid
        }"
      >
        <select
          class="form-select form-select-sm shadow-none"
          aria-label=".form-select-sm example"
          formControlName="laptopCPU"
          (click)="turnValidlaptopCpu()"
        >
          <option disabled value="null">CPU</option>
          <option value="1" *ngFor="let cpu of cpus">
            {{ cpu.name }}
          </option>
        </select>
      </div>
      <div class="laptop_CPU" [ngClass]="{ invalid: !laptopCPUCoresValid }">
        <label>CPU-ს ბირთვი</label>
        <input
          type="number"
          class="form-control shadow-none"
          placeholder="14"
          aria-label="CPU core"
          formControlName="laptopCPUCores"
          (keyup)="turnValidlaptopCPUCores()"
        />
        <p class="hint">მხოლოდ ციფრები</p>
      </div>
      <div class="laptop_CPU" [ngClass]="{ invalid: !laptopCpuThreadsValid }">
        <label>CPU-ს ნაკადი</label>
        <input
          type="number"
          class="form-control shadow-none"
          placeholder="365"
          aria-label="CPU"
          formControlName="LaptopCpuThreads"
          (keyup)="turnValidlaptopCpuThreads()"
        />
        <p class="hint">მხოლოდ ციფრები</p>
      </div>
    </div>
    <div class="laptop_info">
      <div class="laptop_name" [ngClass]="{ invalid: !laptopRamValid }">
        <label>ლეპტოპის RAM (GB)</label>
        <input
          type="number"
          class="form-control shadow-none"
          placeholder="16"
          aria-label="Laptop name"
          formControlName="LaptopRam"
          (keyup)="turnValidLaptopRam()"
        />
        <p class="hint">მხოლოდ ციფრები</p>
      </div>
      <div class="laptop_memory">
        <label [ngClass]="{ invalidLabel: !laptopHardDriveValid }">
          მეხსიერების ტიპი
          <img
            *ngIf="!laptopHardDriveValid"
            src="../../../assets/uploadWarning.png"
            alt=""
        /></label>
        <div class="radio_buttons">
          <input
            type="radio"
            id="ssd"
            value="SSD"
            name="LaptopHardDriveType"
            formControlName="LaptopHardDriveType"
            (click)="turnValidlaptopHardDrive()"
          />
          <label for="ssd" class="memory_type">SSD</label>
          <input
            type="radio"
            id="hdd"
            value="HDD"
            name="LaptopHardDriveType"
            formControlName="LaptopHardDriveType"
            (click)="turnValidlaptopHardDrive()"
          />
          <label for="hdd" class="memory_type">HDD</label>
        </div>
      </div>
    </div>
    <hr />
    <div class="laptop_info purchase_info">
      <div class="laptop_name">
        <label>შეძენის რიცხვი (არჩევითი)</label>
        <input
          type="text"
          class="form-control shadow-none"
          placeholder="დდ / თთ / წწწწ"
          aria-label="purschase date"
          mask="00/00/0000"
          formControlName="LaptopPurchaseDate"
        />
      </div>
      <div
        class="laptop_name laptop_price"
        [ngClass]="{ invalid: !laptopPriceValid }"
      >
        <label>ლეპტოპის ფასი</label>
        <input
          type="number"
          class="form-control shadow-none"
          placeholder="0000"
          aria-label="Laptop price"
          formControlName="LaptopPrice"
          (keyup)="turnValidlaptopPrice()"
        />
        <p class="hint">მხოლოდ ციფრები</p>
      </div>
    </div>
    <div class="laptop_info">
      <div class="laptop_memory">
        <label [ngClass]="{ invalidLabel: !laptopStateValid }">
          ლეპტოპის მდგომარეობა
          <img
            *ngIf="!laptopStateValid"
            src="../../../assets/uploadWarning.png"
        /></label>
        <div class="radio_buttons">
          <input
            type="radio"
            id="new"
            value="ახალი"
            name="LaptopState"
            formControlName="LaptopState"
            (click)="turnValidLaptopState()"
          />
          <label for="new" class="memory_type">ახალი</label>
          <input
            type="radio"
            id="old"
            value="ძველი"
            name="LaptopState"
            formControlName="LaptopState"
            (click)="turnValidLaptopState()"
          />
          <label for="old" class="memory_type">მეორადი</label>
        </div>
      </div>
    </div>
    <div class="buttons_row">
      <button class="go_back_button" (click)="previousPage()">უკან</button>
      <button class="submit_button" type="submit">დამახსოვრება</button>
    </div>
  </form>
</div>
