<div class="container">
  <form [formGroup]="employeeInfoForm">
    <div class="row g-3">
      <div class="col inpName">
        <app-input
          placeholder="გრიშა"
          [control]="employeeInfoForm.controls.firstName"
          [isSubmitAttempted]="isSubmitAttempted"
        >
          <span title>სახელი</span>
          <span hint> მინიმუმ 2 სიმბოლო, ქართული ასოები</span></app-input
        >
      </div>

      <div class="col inpName">
        <app-input
          placeholder="ბაგრატიონი"
          [control]="employeeInfoForm.controls.lastName"
          [isSubmitAttempted]="isSubmitAttempted"
        >
          <span title>გვარი</span>
          <span hint> მინიმუმ 2 სიმბოლო, ქართული ასოები</span></app-input
        >
      </div>
    </div>
    <div
      class="row g-3 select"
      [ngClass]="{
        invalid:
          (employeeInfoForm.controls.team.invalid &&
            employeeInfoForm.controls.team.touched) ||
          (employeeInfoForm.controls.team.errors != null && isSubmitAttempted)
      }"
    >
      <select
        class="form-select form-select-sm shadow-none"
        aria-label=".form-select-sm example"
        formControlName="team"
        placeholder="Select Username"
        value=""
      >
        <option [value]="null" disabled>თიმი</option>
        <option *ngFor="let team of teams" [value]="team.id">
          {{ team.name }}
        </option>
      </select>
    </div>

    <div
      class="row g-3 select"
      [ngClass]="{
        invalid:
          (employeeInfoForm.controls.position.invalid &&
            employeeInfoForm.controls.position.touched) ||
          (employeeInfoForm.controls.position.errors != null &&
            isSubmitAttempted)
      }"
    >
      <select
        class="form-select form-select-sm shadow-none"
        aria-label=".form-select-sm example"
        formControlName="position"
      >
        <option [value]="null" disabled>პოზიცია</option>
        <option *ngFor="let position of positions" [value]="position.id">
          {{ position.name }}
        </option>
      </select>
    </div>
    <div class="row g-3">
      <div class="col inpName">
        <app-input
          placeholder="grish666@redberry.ge"
          [control]="employeeInfoForm.controls.email"
          [isSubmitAttempted]="isSubmitAttempted"
        >
          <span title>მეილი</span>
          <span hint> უნდა მთავრდებოდეს @redberry.ge</span></app-input
        >
      </div>
    </div>
    <div class="row g-3 select">
      <div class="col inpName">
        <app-input
          placeholder="+995 598 00 07 01"
          [control]="employeeInfoForm.controls.phoneNum"
          [isSubmitAttempted]="isSubmitAttempted"
        >
          <span title>ტელეფონის ნომერი</span>
          <span hint>
            უნდა აკმაყოფილებდეს ქართული მობ-ნომრის ფორმატს</span
          ></app-input
        >
      </div>
    </div>
    <div class="row g-3 center">
      <div class="col inpName btnWrap">
        <app-button type="button" (click)="nextPage()" class="submitBtn"
          >შემდეგი</app-button
        >
      </div>
    </div>
  </form>
</div>
