form {
  background: rgb(255, 255, 255);
  margin: 20px auto;
  border-radius: 8px;
  padding: 60px 100px 0px 100px;

  font-size: 16px;
  font-style: normal;
}
.container {
  width: 950px;
}
select {
  padding: 15px 16px;
  background-color: #ebebeb;
  border-radius: 8px;

  outline: none;
  border: none;
  font-size: 14px;
  border-color: transparent;
}

select:active,
select:focus,
select:hover {
  border-color: transparent;
  outline: none;
}

select option {
  margin: 50px;

  background: rgb(255, 255, 255);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.invalid select {
  border: 1.8px solid #e52f2f;
}

@media (max-width: 767px) {
  .name {
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .container {
    width: auto;
  }
  form {
    padding: 20px 30px 0px 30px;
  }
}
