form {
  /* გასასწორებელია სიგანე უნდა დაემატოს და ფლექსზე გადაეწყოს */
  background: rgb(255, 255, 255);
  width: 1000px;
  height: auto;
  margin: 20px auto;
  max-width: 97%;
  border-radius: 8px;
  padding: 80px 100px 0px 100px;
}

.container {
  height: auto;
  display: flex;
}
.inpName {
  margin-right: 20px;
  margin-left: 20px;
  font-weight: 700;
  font-family: "HelveticaNeue";
  font-style: normal;

  font-size: 17px;
  line-height: 3px;
}
.inpName input {
  height: 45px;

  border: 2px solid #8ac0e2;
}

select {
  height: 45px;
  width: 760px;
  background-color: #ebebeb;
  border-radius: 8px;
  margin-left: 27px;
  outline: none;
  border: none;
  font-weight: 700;
  font-family: "HelveticaNeue";
  font-style: normal;
  font-size: 16px;
  border-color: transparent;
}

/* .inpName input:active,
.inpName input:focus {
  border-color: #8ac0e2;
} */
select:active,
select:focus,
select:hover {
  border-color: transparent;
  outline: none;
}

select option {
  margin: 40px;
  background: rgb(255, 255, 255);

  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
label {
  margin-bottom: 15px;
}
.hint {
  color: #2e2e2eab;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  font-family: "HelveticaNeue";
  font-style: normal;
  margin-top: 8px;
}
.row {
  margin-bottom: 20px;
}
.select {
  margin-bottom: 40px;
}
.btnWrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.invalid label {
  color: #e52f2f;
}
.invalid input {
  border: 1.8px solid #e52f2f;
}

.invalid select {
  border: 1.8px solid #e52f2f;
}
.invalid p {
  color: #e52f2f;
}

.invalid input:active,
.invalid input:focus {
  border-color: #e52f2f;
}
