<div class="container bold">
  <form [formGroup]="employeeInfoForm">
    <div class="row g-5 pb-3">
      <div class=".col-xs-12 col-sm-12 col-md-6 col-lg-6 pb-4">
        <app-input
          placeholder="გრიშა"
          [control]="employeeInfoForm.controls.firstName"
          [isSubmitAttempted]="isSubmitAttempted"
          [isMedium]="true"
        >
          <span title>სახელი</span>
          <span hint> მინიმუმ 2 სიმბოლო, ქართული ასოები</span></app-input
        >
      </div>

      <div class=".col-xs-12 col-sm-12 col-md-6 col-lg-6 name">
        <app-input
          placeholder="ბაგრატიონი"
          [control]="employeeInfoForm.controls.lastName"
          [isSubmitAttempted]="isSubmitAttempted"
          [isMedium]="true"
        >
          <span title>გვარი</span>
          <span hint> მინიმუმ 2 სიმბოლო, ქართული ასოები</span></app-input
        >
      </div>
    </div>
    <div
      class="row g-3 select mb-4 pb-3"
      [ngClass]="{
        invalid:
          (employeeInfoForm.controls.team.invalid &&
            employeeInfoForm.controls.team.touched) ||
          (employeeInfoForm.controls.team.errors != null && isSubmitAttempted)
      }"
    >
      <div class="col-lg-12 .col-12">
        <select
          class="form-select form-select-sm shadow-none bold"
          aria-label=".form-select-sm example"
          formControlName="team"
          placeholder="Select Username"
          value=""
        >
          <option [value]="null" disabled>თიმი</option>
          <option *ngFor="let team of teams" [value]="team.id">
            {{ team.name }}
          </option>
        </select>
      </div>
    </div>

    <div
      class="row g-3 select mb-4"
      [ngClass]="{
        invalid:
          (employeeInfoForm.controls.position.invalid &&
            employeeInfoForm.controls.position.touched) ||
          (employeeInfoForm.controls.position.errors != null &&
            isSubmitAttempted)
      }"
    >
      <div class="col-lg-12 .col-12">
        <select
          class="form-select form-select-sm shadow-none bold"
          aria-label=".form-select-sm example"
          formControlName="position"
        >
          <option [value]="null" disabled>პოზიცია</option>
          <option *ngFor="let position of positions" [value]="position.id">
            {{ position.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="row g-3 mb-4">
      <div class="col-lg-12 .col-12">
        <app-input
          placeholder="grish666@redberry.ge"
          [control]="employeeInfoForm.controls.email"
          [isSubmitAttempted]="isSubmitAttempted"
        >
          <span title>მეილი</span>
          <span hint> უნდა მთავრდებოდეს @redberry.ge</span></app-input
        >
      </div>
    </div>
    <div class="row g-3 mb-5">
      <div class="col-lg-12 .col-12">
        <app-input
          placeholder="+995 598 00 07 01"
          [control]="employeeInfoForm.controls.phoneNum"
          [isSubmitAttempted]="isSubmitAttempted"
        >
          <span title>ტელეფონის ნომერი</span>
          <span hint>
            უნდა აკმაყოფილებდეს ქართული მობ-ნომრის ფორმატს</span
          ></app-input
        >
      </div>
    </div>
    <div class="row">
      <div class="btn-wrapper">
        <app-button type="button" (click)="nextPage()" class="submitBtn"
          >შემდეგი</app-button
        >
      </div>
    </div>
  </form>
</div>
