h4 {
  font-family: "HelveticaNeue";
  font-weight: 700;
  font-size: 18px;
}

.btnContainer {
  position: relative;
  top: 70px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.card {
  background-color: rgba(234, 250, 255, 1);
  border-color: rgba(174, 209, 234, 1);
  font-family: "HelveticaNeue";
}
img {
  width: 90%;
  height: 90%;
}

@media (max-width: 696px) {
  .btn-back {
    position: absolute;
    top: 28px;
  }
}
