h4 {
  font-family: "HelveticaNeue";
  font-weight: 700;
  font-size: 28px;
}

img {
  max-width: 90%;
  height: auto;
}

.btnContainer {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 40px;
}

.table {
  max-width: 400px;
  font-family: "HelveticaNeue";
  font-weight: 500;
  font-size: 18px;
}

tr {
  display: block;
  float: left;
}
th,
td {
  display: block;
  border: transparent;

  padding-top: 1rem;
}
th {
  margin-right: 3rem;
}
td {
  color: #797979;
}

/* hr {
  border: 1px solid #a5a5a5;
  margin-left: 100px;
} */

@media (max-width: 992px) {
  .table {
    font-size: 14px;
  }
  img {
    height: 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .btn-back {
    position: absolute;
    margin-top: -24px;
  }
  img {
    max-width: 100%;
  }
  h4 {
    font-size: 16px;
  }
  .btnContainer {
    margin-top: 20px;
  }
}

@media (max-width: 282px) {
  th {
    margin-right: 1rem;
  }
  .table {
    font-size: 10px;
  }
}
