<div class="container">
  <app-on-main-page class="btn-back" routerLink="/"></app-on-main-page>

  <div class="container">
    <div class="row">
      <div class="btnContainer">
        <h4>ᲚᲔᲞᲢᲝᲞᲘᲡ ᲘᲜᲤᲝ</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12">
        <img src="assets/laptop1.png" alt="" />
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12">
        <table class="table mt-3">
          <tr>
            <th>სახელი:</th>
            <th>თიმი:</th>
            <th>პოზიცია:</th>
            <th>მეილი:</th>
            <th>ტელ. ნომერი:</th>
          </tr>

          <tr>
            <td>
              {{ laptop?.data?.user.name }} {{ laptop?.data?.user.surname }}
            </td>
            <td>{{ team }}</td>
            <td>{{ position }}</td>
            <td>{{ laptop?.data?.user.email }}</td>
            <td>
              {{ laptop?.data?.user.phone_number }}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="mt-4 col-md-6 col-lg-6 col-sm-12">
        <table class="table">
          <tr>
            <th>ლეპტოპის სახელი:</th>
            <th>ლეპტოპის ბრენდი:</th>
            <th>RAM:</th>
            <th>მეხსიერების ტიპი:</th>
          </tr>

          <tr>
            <td>
              {{ laptop?.data?.laptop.name }}
            </td>
            <td>{{ brand }}</td>
            <td>{{ laptop?.data?.laptop.ram }}</td>
            <td>{{ laptop?.data?.laptop.hard_drive_type }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-6 col-lg-6 mt-4 col-sm-12">
        <table class="table">
          <tr>
            <th>CPU:</th>
            <th>CPU-ს ბირთვი:</th>
            <th>CPU-ს ნაკადი:</th>
          </tr>

          <tr>
            <td>
              {{ laptop?.data?.laptop.cpu.name }}
            </td>
            <td>{{ laptop?.data?.laptop.cpu.cores }}</td>
            <td>{{ laptop?.data?.laptop.cpu.threads }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 mt-4">
        <table class="table">
          <tr>
            <th>ლეპტოპის მდგომარეობა:</th>
            <th>ლეპტოპის ფასი:</th>
          </tr>

          <tr>
            <td>{{ laptop?.data?.laptop.state }}</td>
            <td>{{ laptop?.data?.laptop.price }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-6 col-lg-6 mt-4 col-sm-12">
        <table class="table">
          <tr>
            <th>შეძენის რიცხვი:</th>
          </tr>

          <tr>
            <td>{{ laptop?.data?.laptop.purchase_date }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
