/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
@font-face {
  font-family: HelveticaNeue;
  src: url(assets/HelveticaNeue.ttc) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

/* .input-md {
  width: 355px;
} */

.bold {
  font-weight: 700;
  font-family: "HelveticaNeue";
}
