.wrapper {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
.logo {
  max-width: 6.2rem;
}
.container--img {
  max-width: 49rem;
}
.frame-img {
  max-width: 100%;
  display: block;
  height: auto;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

@media (max-width: 1366px) {
  /* .frame-img {
    margin-top: 3rem;
    width: 37rem;
    height: 19rem;
  }
  .btn-container {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .logo {
    margin-top: 4rem;
    width: 5rem;
    height: 0.8rem;
  } */
}

@media (max-width: 1025px) {
  /* .frame-img {
    width: 49rem;
    height: 30rem;
    margin-top: 6rem;
  }
  .btn-container {
 
    margin-top: 6rem;
  }
  .logo {
    margin-top: 7rem;
    width: 5rem;
    height: 0.8rem;
  } */
}
