<div class="wrapper">
  <div class="container">
    <div class="row">
      <img class="logo" src="assets/LOGO.png" alt="logo" />
    </div>
    <div class="row container--img">
      <img class="frame-img" src="assets/Frame.png" alt="frame" />
    </div>
    <div class="row btn-container pb-5">
      <app-button class="pt-3" routerLink="/forms" [width]="'350px'">
        <a routerLink="/forms">ᲩᲐᲜᲐᲬᲔᲠᲘᲡ ᲓᲐᲛᲐᲢᲔᲑᲐ</a>
      </app-button>
      <app-button [width]="'350px'">
        <a [routerLink]="['/list']">ᲩᲐᲜᲐᲬᲔᲠᲔᲑᲘᲡ ᲡᲘᲐ</a></app-button
      >
    </div>
  </div>
</div>
