.btnImgWrapper {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 70px;
  cursor: pointer;
  top: 40px;
  background: #d9d9d9;
}

.btnImg {
  width: 7.21px;
  height: 11px;
}

@media (max-width: 768px) {
  .btnImgWrapper {
    left: 5px;
    top: 32px;
    background: transparent;
  }
}
